body {
	background: #FEF5D5;
	font-weight: bold;
	color: #732c0f;
}

table {
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

th {
	background: -webkit-linear-gradient(top, #f0b7a1 0%,#aa5333 50%,#752201 51%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
}

td {
	background: #FEF5D5;
	border-right: solid 2px;
	text-align: left;
	white-space: nowrap;
}

div {
	font-weight: bold;
}
